.buy {
  &-text {
    font-size: 16px;
    font-weight: $font-weight-bolder;

    @include media-breakpoint-up(md) {
      margin-bottom: 20px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 18px;
    }
  }

  &-text-small {
    font-weight: $font-weight-normal;
    font-size: 14px;
  }

  &-box {
    background-color: $white;
    font-size: 16px;
    margin-bottom: 15px;

    &-m {
      text-align: center;
      padding-bottom: 15px;
    }

    &-s {
      position: absolute;
      bottom: 0;
      width: 90%;
      padding: 15px 15px 55px 15px;
      font-weight: $font-weight-bolder;
    }
  }

  &-box-primary {
    padding: 15px 0 35px 0;
    background-color: $brand-primary;
    font-weight: $font-weight-bold;
    font-size: 36px;
    line-height: 0.7em;
    color: $white;
    margin-bottom: 15px;
    border: 4px solid $white;

    @include media-breakpoint-up(lg) {
      font-size: 46px;
    }

    &-s {
      font-weight: 400;
      font-size: 16px;

      @include media-breakpoint-up(lg) {
        font-size: 20px;
      }
    }
  }
}

.headline {
  &-box {
    font-size: 28px;
    padding: 15px;
    font-family: $font-family-headline;
    font-weight: $font-weight-bolder;

    @include media-breakpoint-up(md) {
      font-size: 22px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 28px;
    }
  }

  &-primary {
    color: $brand-primary;
    font-weight: $font-weight-normal;
    font-style: italic;
  }
}

.checkmark {
  width: auto;
  height: 35px;
  margin: 0 auto 10px auto;
  font-weight: $font-weight-bolder;
}

.buy-link {
  color: $white;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $white;
  }

  &-wrapper {
    background: $blue;
    padding: 15px;
    margin: -50px 30px 15px 30px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    border: 3px solid white;

    @include media-breakpoint-up(lg) {
      font-size: 16px;
    }

  }
}

.fa-margin {
  margin-left: 10px;
}

// IN APP

.in-app {
  &-apple {
    display: none;
  }
  &-google {
    display: none;
  }
}
