.soon {
  &-wrapper {
    display: block;
    background-color: $white;
    margin-bottom: 15px;

    @include media-breakpoint-up(md) {
      display: table;
    }

    @include media-breakpoint-up(lg) {
      display: block;
      margin-bottom: 0;
    }
  }

  &-box {
    display: block;
    height: auto;
    color: $gray-dark;

    @include media-breakpoint-only(md) {
      display: table-cell;
      height: auto;
      vertical-align: middle;
      position: relative;
    }

    @include media-breakpoint-up(lg) {
      position: relative;
      width: 100%;
      padding-top: 100%;
      background-color: $white;
      text-align: center;

      &-inner {
        position: absolute;
        padding: 15px;
        height: 100%;
        width: 100%;
        margin-top: -100%;
        display: flex;
        align-items: center;
      }
    }

    &-inner {
      padding: 15px;
    }
  }

  &-img-box {
    display: none;

    @include media-breakpoint-only(md) {
      display: block;
      height: 200px;
      width: auto;
      float: left;
      margin: 25px;
      position: relative;
    }

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  &-img {

    @include media-breakpoint-up(md) {
      width: auto;
      height: 100%;
    }

    @include media-breakpoint-up(lg) {
      width: 100%;
      height: auto;
    }
  }

  &-text {
    font-size: 1rem;

    @include media-breakpoint-up(lg) {
      font-size: 0.9rem;
    }

    @include media-breakpoint-up(xl) {
      font-size: 1rem;
    }
  }

  &-headline {
    font-family: $font-family-headline;
    font-weight: $font-weight-bold;
    font-size: 1.6em;

    @include media-breakpoint-up(xl) {
      font-size: 1.8em;
    }
  }
}
