.consultant {
  text-align: center;

  @include media-breakpoint-up(lg) {
    text-align: right;
  }

  &-img-wrapper {
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
      position: absolute;
      bottom: -50px;
      width: 100%;
      height: auto;
    }
  }
}
