.wrapper-faq {
  padding: 0 0 70px 0;
}

.card {
  border: none;

  &-header {
    padding: 0.75rem 0;
    background: none;
    border: none;
    cursor: pointer;
  }

  &-headline {
    margin-bottom: 0;
    font-weight: 100;
  }

  &-icon {
    margin-right: 10px;
    color: $brand-primary;
  }

  &-block {
    padding: 1.25rem 1.75rem;
  }
}

.rotate {
  transition: transform .3s;
}

.card-headline:hover {
  .fa-plus.rotate {
    transform: rotate(90deg);
    transition: transform .3s;
  }
}
