.icon {
  &-text {
    text-align: center;
    line-height: 1.3em;
    margin: 0 0 60px 0;
  }

  &-img {
    width: 78px;
    height: 78px;
    margin: 0 0 35px 0;
  }
}

.img {
  &-container {
    position: absolute;
    text-align: center;
  }

  &-feature {
    @include media-breakpoint-up(lg) {
      width: 100%;
      height: auto;
    }
  }

  &-top {
    @include media-breakpoint-up(lg) {
      top: -70px;
    }
  }

  &-bottom {
    @include media-breakpoint-up(lg) {
      bottom: -230px;
    }
  }
}

.container-wide {
  @include media-breakpoint-up(lg) {
    width: 1400px;
  }
}
