.slider {
  &-img {
    width: 100%;
    height: auto;
  }

  &-text {
    text-align: center;
    margin-top: 30px;

    @include media-breakpoint-up(lg) {
      text-align: left;
      margin-top: 0;
    }
  }
}

.caption {
  font-size: 14px;
  color: $gray-light;
  text-align: center;

  @include media-breakpoint-up(lg) {
    text-align: left;
  }

  &-wrapper {
    padding-top: 15px;
  }
}
