.testimonial {
  &-wrapper {
    padding-left: 20px;
    margin-bottom: 15px;

    @include media-breakpoint-only (lg) {
      padding-left: 0;
    }

    @include media-breakpoint-up(xl) {
      padding-left: 20px;
    }
  }

  &-inner {
    background-color: $white;
    color: $gray-dark;
    padding: 15px 15px 15px 90px;
    min-height: 160px;

    @include media-breakpoint-only (md) {
      min-height: 120px;
    }

    @include media-breakpoint-only (lg) {
      padding: 95px 15px 15px 15px;
      margin-top: -80px;
      text-align: center;
      min-height: 290px;
    }

    @include media-breakpoint-up(xl) {
      padding: 15px 15px 15px 100px;
      margin: 0;
      min-height: 230px;
    }
  }

  &-img {
    display: block;
    margin: 30px 15px 15px -30px;
    float: left;
    width: 110px;
    height: auto;

    @include media-breakpoint-only (md) {
      margin-top: 10px;
    }

    @include media-breakpoint-only (lg) {
      display: block;
      margin: 0 auto;
      float: none;
    }

    @include media-breakpoint-up(xl) {
      width: 120px;
      height: auto;
    }
  }
}
