// includes
@import 'bootstrap';
@import 'base/fonts';
@import 'base/header';
@import 'base/navigation';
@import 'base/footer';
@import 'base/forms';
@import 'moduls/features';
@import 'moduls/consultant';
@import 'moduls/buy';
@import 'moduls/testimonials';
@import 'moduls/coming_soon';
@import 'moduls/slider';
@import 'moduls/faq';
@import 'owl/owl.carousel';
@import 'owl/owl.theme.default';

// @import url('');

// global styles

.wrapper {
  padding: 70px 0 50px 0;
}

.bg-1 {
  background-color: $blue;
  color: $white;
}

.bg-2 {
  background-color: $gray-lighter;
  color: $gray-dark;
}

.img-datev {
  margin-top: 10px;
}
