body {
  color: $gray-dark;
}

.headline {
  font-family: $font-family-headline;
  font-weight: $font-weight-bolder;

  &-special {
    font-style: italic;
  }

  &-1 {
    font-weight: $font-weight-normal;
  }

  &-2 {
    font-family: $font-family-headline;
    font-style: italic;
    font-weight: $font-weight-normal;
    color: $brand-primary;
  }

  &-margin {
    margin-bottom: 30px;
  }
}

.feature-headline {
  font-family: $font-family-headline;
  font-weight: $font-weight-bolder;
  font-size: 1.1em;
  margin-bottom: 15px;
}

.center {
  text-align: center;
}

h3 {
  font-weight: $font-weight-bolder;
  font-size: 1.3rem;
}

// ########### FAQ ############## //

.headline-faq {
  margin: 40px 0 20px 0;
}


