.footer {
  background-color: $gray-dark;
  color: $gray-light;

  &-input {
    margin-right: 10px;
  }
}

.nav {
  &-footer {
    list-style: none;
    padding: 0;

    a {
      color: $gray-light;
    }
  }
}

.nav-item-footer {
  color: $gray-light;

  &-active,
  &:focus,
  &:hover {
    position: relative;
  }
}

.newsletter {
  margin-top: 22px;
}

.logo-footer {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
