.header {
  position: relative;

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }

  &-wrapper {
    background-color: $white;

    @include media-breakpoint-up(lg) {
      background-color: transparent;
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
    }
  }
}

.image-header {
  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: right;

    @include media-breakpoint-up(lg) {
      height: 500px;
      margin-bottom: 0;
    }
  }
}

.text-header-wrapper {
  padding: 30px 0;
  width: 100%;
  height: auto;

  @include media-breakpoint-up(lg) {
    padding: 20px 30px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
    width: 70%;
  }
}




