//################  WRAPPER ################ //

.wrapper {
  &-navigation {
    height: 70px;
    padding-top: 6px;
  }

  &-navi {
    position: absolute;
    right: 15px;
    width: 100%;
    text-align: center;
    margin-top: 6px;

    @include media-breakpoint-up(lg) {
      position: relative;
      width: auto;
      margin-right: 230px;
      float: right;
    }
  }

  &-logo {
    float: left;
  }

  &-nav-btn {
    position: absolute;
    right: 85px;
    top: 20px;

    @include media-breakpoint-up(lg) {
      position: absolute;
      right: 15px;
    }
  }
}

//################  NAVBAR ################ //

.navbar-light .navbar-nav .nav-link {
  color: $blue;
  font-weight: $font-weight-bolder;
}

.nav-item {
  height: 60px;
  font-size: 1.6rem;

  @include media-breakpoint-up(lg) {
    margin-left: 20px;
    height: auto;
    font-size: 1rem;
  }

  &-active,
  &:focus,
  &:hover {
    height: 60px;
    font-size: 1.6rem;

    @include media-breakpoint-up(lg) {
      margin-left: 20px;
      position: relative;
      height: auto;
      font-size: 1rem;
    }

    &:after {
      content: '';
      display: block;
      width: 0;
    }
  }

  &:after {
    @include media-breakpoint-up(lg) {
      content: '';
      display: block;
      margin: -8px auto;
      height: 2px;
      width: 0;
      background: transparent;
      transition: width .5s ease, background-color .5s ease;
    }
  }

  &:hover:after {
    background: $brand-primary;
    width: 50px;

    @include media-breakpoint-up(lg) {
      width: 30px;

    }
  }

  &-active {
    &:after {
      content: '';
      display: block;
      margin: -8px auto;
      height: 2px;
      background: $brand-primary;
      width: 50px;

      @include media-breakpoint-up(lg) {
        width: 30px;
      }
    }
  }
}

.nav-link {
  color: $blue;

  &-active {
    color: $blue;
  }
}

.navbar {
  &-toggler {
    background-color: $brand-primary;
    margin-right: -15px;
  }
}

//################  BUTTONS ################ //

.btn {
  font-family: $font-family-headline;
  font-weight: $font-weight-bolder;
  color: $brand-primary;
  background-color: transparent;
  border: 2px solid $brand-primary;

  &-signin {
    display: none;

    @include media-breakpoint-up(lg) {
      margin-left: 10px;
      display: inline-block;
      color: $white;
      background-color: $brand-primary;
    }
  }
}

.nav-open .nav-mobile {
  display: block;
  position: fixed;
  background: $white;
  width: 100%;
  left: 0;
  bottom: 0;
  top: 70px;
  z-index: 1111;
}

.logo {
  &-img {
    width: auto;
    height: 53px;

    @include media-breakpoint-up(md) {
      width: auto;
      height: 53px;
    }
  }
}
